.collections{
    margin-bottom: 135px;
} 
.colections__list{
    display: flex;
}
.colections__item{
min-height: 474px;
flex: 1;
overflow: hidden;
margin-right: 30px;
background: url('../../img/bg/pattern.png') center center / 500px;
position: relative;
}

.colections__item:before{
content: "";
display: block;
position: absolute;
width: 60%;
height: 176%;
top: -17%;
left: -18%;
background: center center / contain no-repeat;
}

.colections__item--type-guys:before{
    background-image: url('../../img/collections/collection_man.png');

}
.colections__item--type-girls:before{
    background-image: url('../../img/collections/collection_woman.png');
    top: -31%;
    left:-25%;
    width: 80%;
}

.collections__link{
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color:inherit;
    font-size: 15px;
    position: relative;
    height:100%;
    box-sizing: border-box;
}

.collections__link:hover .btn{
background:var(--red);
color: #fff;

}

.collections__title{
    font-family: var(--titleFont);
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}
.colections__item:last-child{
    margin-right: 0;
}
.collections__desc{
  margin-bottom: 28px;  
}