
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 103px;

}
.filter__item{
    margin-right: 40px;

}
.filter__item:last-child{
    margin-right:0px;
}

.filter__link{
    font-family: var(--titleFont);
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 20px 3px 20px;
    color:var(--black);
    font-size: 24px;
    font-weight: bold;
    display: inline-block;

}
.filter__link:hover {
    color:var(--red);
}
.filter__item--active .filter__link{
color:var(--yellow);
background:var(--black);
}
.products{
    margin-bottom: 160px;
}
.products__item{
    width: 302px;
    height: 386px;
    background: var(--yellow);
    margin-bottom: 32px;
    margin-left: 27px;
    position: relative;
}
.products__item:hover .producs_desc{
transform: translateY(0%);

}
.products__prace{
    position: absolute;
    top:18px;
    left:-6px;
    width: 126px;
    border-bottom: 45px solid #000;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-181deg);

}
.products__prace-amount{
    transform: rotate(181deg);
    color:#fff;
    font-weight: bold;
    font-size: 30px;
    font-family: var(--titleFont);
    position: absolute;
    top: 9px;
    right: 37px;
}
.products__item--color-black .products__prace {
 border-bottom-color: var(--yellow);

}
.products__item--color-black .products__prace-amount{
color: var(--black);
}
.products__content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.products__img{
    display: block;
    min-width: 90%;
    max-height: 100%;
}

.producs_desc{
 position: absolute;
 bottom:0;
 left: 0;
 right: 0;
 padding: 23px 30px;
 background:rgba(35, 35, 35, .8);
 color:#fff;
 display: flex;
 align-items: center;
 flex-direction: column;
 transform: translateY(100%);
 transition: transform .3s;
}

.btn{
text-transform: uppercase;
font-family: var(--titleFont);
font-size: 24px;
padding: 8px 30px 5px 30px;
background: var(--black);
color: var(--yellow);
display: inline-block;
text-decoration: none;
}
.producs_desc-text{
text-align: center;
margin-bottom: 18px;
}
.btn:hover{
   background:var(--red);
   color:#fff
}
.puducts__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -27px;;
}
.products__item--color-black{
    background: var(--black);
}

.products__item--size{
    width: 630px;
    height: 544px;
}
