.sidebar{
    width: 75px;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background:#212121;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all .3s;
}
.sidebar--opened{
    width: 325px;
    padding:0 3% 0 4%;
}
.sidebar--opened .sidebar__header{
    display: flex;
}
.sidebar__header{
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
}
.sidebar__menu{
    position: absolute;
    left:-400px;
    transition: left .3s;
}
.sidebar--opened .sidebar__menu{
    left: 0;
    text-align: center;
    width: 100%;
    transition-delay: .1s;

}
.sidebar__close-icon{
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}
.sidebar_hamburger-icon{
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}
.sidebar__hamburger{
    display: block;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%);

}
.sidebar--opened .sidebar__hamburger{
    display: none;
}
.sidebar__close{
    position: absolute;
    top: -4px;
    right: 23px;
}
.said-menu__item{
margin-bottom: 20px;
}
.saide-menu__link{
    text-decoration: none;
    display: block;
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--title);
}
.saide-menu__link:hover{
    color: var(--red);
}
